.center { 
   
display: flex;
  width: 100%;
 justify-content: flex-end;
padding-top: 1em;

}

.search { 
    height: 2em;
    margin-right: 0.5em;
    border-radius: 0.5em;
    width: 15%;

}

.buttonSearch { 
    height: 2em;
    border-radius: 0.5em;
}

